/* ============================================================================
** Helper Classes
==============================================================================*/

// ======================================
// Colors
// ======================================
.text-blue { color: $text-blue !important; }
.text-teal { color: $text-teal !important; }
.text-grey { color: $text-grey !important; }
.text-lgrey { color: $text-lgrey !important; }
.text-green { color: $text-green !important; }
.text-accent { color: $text-accent !important; }
.bg-blue { background-color: $bg-blue !important; }
.bg-teal { background-color: $bg-teal !important; }
.bg-grey { background-color: $bg-grey !important; }
.bg-lgrey { background-color: $bg-lgrey !important; }
.icon-grey { color: $icon-grey !important; }
.icon-teal { color: $icon-teal !important; }